<!-- Footer -->
<!-- <footer class="page-footer sticky-bottom fixed-bottom font-small cyan darken-3 p-1"> -->
    <footer class="page-footer sticky-bottom fixed-bottom font-small cyan darken-3 p-1">


        <!-- Footer Elements -->
        <div class="container">
    
            <!-- Grid row-->
            <div class="row">
    
                <!-- Grid column -->
                <div class="col-md-12">
                    <div class="text-center p-3">
    
                        <!-- Facebook -->
                        <a class="fb-ic btn-floating btn-gplus mx-4">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic btn-floating btn-gplus mx-1">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic btn-floating btn-gplus mx-1">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic btn-floating btn-gplus mx-1">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
    
            </div>
            <!-- Grid row-->
    
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="footer text-center" style="padding: 3px; color: black">© 2019 Copyright: <a style="color: rgb(43, 41, 41)">Legal Aids</a>
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->